*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 50px;
}
a{
    text-decoration: none;
    color: #4f5665;
    font-size: 16px;
   padding-right: 35px;
}
.btn-1{
    margin-right: 30px;
    color: black;    
}
.btn-2{
    height: 45px;
    width: 150px;
    border: 2px solid red;
    background-color:  #E5E5E5;
    border-radius: 15px;
    border-color:  #F53855;
}
.col-6{ 
    width: 50%;
    padding: 0 15px;
}
.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1400px;
    margin: 50px 50px;
}
h1{
    width: 555px;
    font-size: 50px;
    left: 150px;
}
.text p{
    width: 555px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 20px;
    color: #4f5665;
}
.get-started{
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: #F53838;
    margin-top: 50px;
    color:  #FFFFFF;
}
.get-started :hover{
    background: 0px 39px 30px rgba(245, 56, 56, 0.2);
    filter: blur(27px);
}
.text{
    margin-right: 41px;
}
.col-4{
    width: 33.33%;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.icons{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 10px;
}
.meta-col{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 72.5px 91px;
}
.meta-name{
    margin-left: 35px;
    font-size: 25px;

}
.meta-name p{
    margin-top: 5px;
    font-size: 20px;
}
.vertical-lines::after{
    content: " ";
    position: absolute;
    width: 2px;
    background-color: #EEEFF2;
    left: 0;
    bottom: 36px;
    height: 127.57px;
}
.vertical-lines{
    position: relative;
}
.Illustration{
    display: flex;
}
.Illustration h3{
    display: flex;
    align-items: center;
    margin-left: 169px;
    width: 383.41px;
    font-size: 35px;
    color: #0b132a;
}
.Illustration p{
    display: flex;
    align-items: center;
    margin-left: 169px;
    width: 427.88px;
    font-size: 16px;
    margin-top: 20px;
    color: #4f5665;
}
.correct p{
    margin-left: 171px;
}
.correct svg{
    margin-right: 12.08px;
}
.choose h3{
   margin-left: 527px;
   padding-top: 80.27px;
   width: 383.41px;
   font-size: 35px;
   color: #0b132a;
}
.choose p{
   margin-left: 441px;
   width: 500px;
   font-size: 16px;
   margin-top: 20px;
   text-align: center;
}
.background{
    background-color: #E5E5E5;
    margin-top: 131px;
}
.Free-plan{
    display: flex;
    flex-wrap: wrap;
}
.Free-plan button{
    border: 2px solid #F53838;
    border-radius: 50px;
    width: 177.88px;
    height: 45px;
    margin-top: 20px;
    margin-left: 76.06px;
    color: #F53838;
    background-color: #FFFFFF;
    font-size: 16px;
}
.Free-plan img{
    padding: 79.63px 92.55px 30px 92.55px;
}

.Planfree{
    margin-top: 60px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background: #FFFFFF;
    width: 330px;
    height: 760px;
    margin-left: 114.14px;
}
.all-devices h3{
    padding-left: 124px;
    padding-bottom: 30px;
    font-size: 18px;
}
.all-devices p{
    padding: 10px 75.14px;
    font-size: 14px;
}
.Standard-Plan{
    margin-top: 60px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background: #FFFFFF;
    width: 330px;
    height: 760px;
    margin-left: 40px;
}
.Premium-Plan{
    margin-top: 60px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background: #FFFFFF;
    width: 330px;
    height: 760px;
}
.Premium-Plan button{
    background-color: #F53838;
    color: #FFFFFF;
} 
.month-free {
    display: flex;
    margin-top: 130px;
    margin-left: 138px;
    align-items: center;
    font-size: 25px;
  }
.month {
  display: flex;
  margin-top: 90px;
  margin-left: 119px;
  align-items: center;
  font-size: 25px;
}
.month19 {
    font-size: 25px;
    display: flex;
    margin-top: 50px;
    margin-left: 113px;
    align-items: center;
  }

.huge{
    text-align: center;
    margin-top: 150px;
}
.huge h3{
    font-size: 35px;
    width: 383.41px;
    margin-left: 527.43px;
}
.huge p{
    font-size: 16px;
    width: 500px;
    margin-top: 20px;
    margin-left: 441.64px;
    line-height: 30px; 
}
.logo{
    margin-left: 150px;
}
.image{
    display: flex;
    /* background-color: white; */
    Width: 1135.64px;
    Height: 60px;
    justify-content: space-between;
    align-items: center;
}